<h1>This is the homepage</h1>
<a href="/login">Login</a>
<a href="/register">Sign Up</a>
<a href="/logout">Log Out</a>

<a href="/getPredictedClusters">See Truck routings</a>
<a href="/incentives">Incentivise Collection</a>
<a href="/seeroutes">See map for Cluster 3</a>