<html>
<head>
    <title>
        Find last tracked locations
    </title>
</head>
<body>
<form action="/findCar" method="POST">
    <input type="text" id="License" name="license">
    <button type="submit">
</form>

</body>
</html>